.main-container {
  padding: 2em;
}

.table-container {
  width: 50%;
  margin: 0 auto;
}

.heading {
  text-align: center;
}

.ant-select-selector {
  border-radius: 0.4em !important;
}

.register-button {
  margin-top: 2em;
}